<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../../lib/openlayers/ol.css">
		<script src="../../lib/jquery-1.11.2.min.js"></script>
		<script src="../../lib/openlayers/ol.js" ></script>
		
		<style>
	      .map {
	        height: 400px;
	        width: 100%;
	      }
	    </style>
	</head>
    <body onload="Ti.API.info('body loaded!');">
    	<h2>My Map</h2>
    <div id="map" class="map"></div>
    

    <script src="../../src/map.js" ></script>
	<script src="../../src/hospital.js" ></script>
    </body>
</html>