<!DOCTYPE HTML>
<html>
	<head>

		<script src="../../lib/jquery-1.11.2.min.js"></script>
		<style type="text/css">

		</style>
	</head>
	<body>

		<script src="../../lib/highcharts/highcharts.js"></script>
		<script src="../../lib/highcharts/highcharts-3d.js"></script>

		<!-- <script src="../../src/thingRest.js"></script> -->
		<div id="container" style="height: 400px"></div>

		<script type="text/javascript">
			function dataCharts(data) {
				//console.log(data);
				//var data = JSON.parse(data);
				// $.ajax({
				// 	headers: {
				// 	'Accept' : "application/json, text/plain, */*",
				// 	"Content-Type": "application/json;charset=utf-8",
				// 	"apiKey": data.apiKey
				// 	},
				// 	url: data.url,
				// 	method: data.method,
				// 	data: {},
				// 	onSucess: function (a, b, c) {
				// 		console.log(a);
				// 		alert("LLego");
				// 	},
				// 	onFailure: function (a, b, c) {
				// 		console.log(a);
				// 		alert("No LLego");
				// 	}
				// });

				$('#container').highcharts(JSON.parse(data)); 
			}
		</script>
	</body>
</html>
